<h3 class="text-center p-5">HOUSE RULE</h3>
<div class="container">
  <div class="row">

    <table class="table table-hover text-center">
      <!--タイトル-->
      <tr><th>ライブご利用のお客さまへ</th></tr>
      <!--内容-->
      <tr><td>ライブは2ステージ入れ替えなしで休憩を挟んで約2時間の公演となっております。</td></tr>
      <tr><td>チケットは会員登録後、サイトにてご予約できます。</td></tr>
      <tr><td>また、電話での予約については、「氏名」「人数」「連絡先」をお伝え下さい。</td></tr>
      <tr><td>やむを得ずキャンセルされる場合は必ずご一報ください。</td></tr>
      <tr><td>なお特別公演の場合は、上記の内容と異なる場合がありますので、必ずライブスケジュールのページでご確認ください。</td></tr>
    </table>

    <table class="table table-hover text-center">
      <!--タイトル-->
      <tr><th>ライブ中はお一人様ミニマム2オーダーのご協力御願いいたします</th></tr>
      <!--内容-->
      <tr><td>アルコール、ソフトドリンク、軽食などご用意しておりますのでご利用下さいませ。</td></tr>
      <tr><td>※ミニマム2オーダーとは、ドリンク、フードなど2品以上ご注文していただくシステムです。</td></tr>
    </table>

    <table class="table table-hover text-center">
      <!--タイトル-->
      <tr><th>禁煙について</th></tr>
      <!--内容-->
      <tr><td>法改正により令和2年4月より全館禁煙となりました。</td></tr>
    </table>

    <table class="table table-hover text-center">
      <!--タイトル-->
      <tr><th>バータイムご利用のお客さまへ</th></tr>
      <!--内容-->
      <tr><td>ライブ終演後24時までバータイムとしてご利用できます。</td></tr>
      <tr><td>※ラストオーダー23時（ドリンクは23時半）</td></tr>
    </table>

    <table class="table table-hover text-center">
      <!--タイトル-->
      <tr><th>貸し切りパーティなどご利用のお客さまへ</th></tr>
      <!--内容-->
      <tr><td>貸し切りは10名様より承ります</td></tr>
      <tr><td>楽器などを使われない通常のパーティは2Fバースペースにて随時承っておりますのでお気軽にお申し付け下さい。</td></tr>
      <tr><td>料金は2時間でお一人様3500円(free drink,food付き)より承ります。</td></tr>
      <tr><td>発表会など楽器を使われる場合の貸し切りに付きましては1Ｆの貸し切りが前提となります。<br/>
              上記に関しては、ライブスケジュールとの兼ね合いがございますので、予定等を店主までお尋ね下さい。<br/>
              なお、大音量を発するイベントなどはお断りさせていただきますので予めご了承下さい。</td></tr>
    </table>

  </div>
</div>

