<h1 class="title text-center">INFORMATION</h1>
<div class="container">
  <div class="row p-5">
    <div class="col-1.3"><%= @information.date %></div>
    <div class="col-10"><%= @information.title %></div>
  </div>

  <div class="row">
    <div class="col-10 offset-2"><%= safe_join(@information.content.split("\n"),tag(:br)) %></div>
  </div>
  <div class="row p-2">
    <div class="col-5 offset-5"><%= link_to '戻る', :back, class: "btn btn-success btn-sm"%></div>
  </div>
</div>

