<h1 class="title text-center p-5">予約完了</h1>
<div class="container">
  <div class="row p-5">
    <div class="col-12 text-center">
      ご予約ありがとうございます。<br/>
      ご来店を心よりお待ちしております。
    </div>
  </div>
  <div class="row p-5">
    <div class="col-12 text-center">
      ※予約内容はマイページからいつでもご確認いただけます。
    </div>
  </div>
</div>