<div id="favorite_<%= artist.id %>">

  <!--お気に入り未登録の時-->
  <% if !Favorite.exists?(customer: current_customer, artist_id: artist.id) %>
    <%= link_to artist_favorites_path(artist), method: :post, remote: true, class: "favorite-btn favorite-post" do %>
      <div class="i far fa-thumbs-up">
        <span>未登録</span>
        <!--お気に入り登録数-->
        <%#= artist.favorites.length %>
      </div>
    <% end %>

  <% else %>
      <!--お気に入り登録済みの時-->
    <%= link_to artist_favorites_path(artist), method: :delete, remote: true, class: "favorite-btn favorite-delete" do %>
      <div class="i far fa-thumbs-up">
        <span>登録済み</span>
        <!--お気に入り登録数-->
        <%#= artist.favorites.length %>
      </div>
    <% end %>
  <% end %>
</div>

