<h1 class="title text-center">Access</h1>
<div class="container">
  <div class="row p-5">
    <div class="col-5">
      <h2>Jazzbar</h2>
      <p>
        【住所】</br>
        〒000-0000</br>
        福岡市中央区〇〇1-11-1
      </p>
      <p>
        近隣駅から 徒歩約5分</br>
        ※駐車場はございません。
      </p>
      <p>
        【電話番号】</br>
        000-000-0000</br>
        電話は営業時間内にお願いいたします。</br>
        ※くれぐれもおかけ間違いのないようご注意ください。
      </p>
      <p>【営業時間】</br>
        平日 18:00~23:00</br>
        土日祝日 17:00~23:00</br>
        ※一部例外あり、スケジュールのご確認をお願いいたします。
      </p>
    </div>

    <!--Google maps API-->
    <div class="col-7">
      <%#= image_tag 'watermark.jpg', width: '100%', height: '100%' %>
      <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1nkjKgYYc3ELKG32LCs9WLbLkaQr6zZ4"></script>-->
      <div id='map'></div>
      <style>
      #map{
        height: 400px;
      }
      </style>
      <script>
      function initMap(){
        let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 33.5884925, lng: 130.4024043},
        zoom: 17
        });
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1nkjKgYYc3ELKG32LCs9WLbLkaQr6zZ4&callback=initMap" async defer></script>

    </div>
  </div>
</div>
