<h1 class="title text-center">About</h1>
<div class="container p-0 text-center">
  <div class="background-top">
    <div class="row">
      <div class="col-12 p-0 d-flex align-items-center justify-content-center">
        <%= image_tag 'dolo-iglesias-z9z6u1rn7sY-unsplash-1024x683', width: '80%', height: '80%' %>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12 p-0 text-light">
        <p>1980年代初め、春吉に本格的なジャズクラブ「Jazzbar」が誕生しました。</p>
        <p>名だたるミュージシャンが訪れ、多くの観客を魅了してきた老舗です。</p>
        <p>地元のミュージシャンをはじめ、月に2、3回は東京や海外からもゲストを招き、濃厚なライブをほぼ毎夜開催しています。</p>
        <p>「ジャズって、静かで大人しいといったイメージがないですか？でも、間近で観るライブはとても迫力があって圧倒されますよ」とオーナーのtestさん。</p>
        <p>2005年には、築110年になる現在の建物に移転リニューアルし、店内は天井が高くて音の響きがよく、ミュージシャンにも評判です。</p>
        <p>20時を過ぎるとライブがスタート。ピアノやサックスなどの豊かな旋律が響きわたります。</p>
        <p>ミュージシャンとお客様が一体となれる店づくりにこだわって、そのときしか楽しめないライブの感動を伝えていきたい...</p>
        <p>伝統あるJazzbarで、本物のジャズスピリットを味わってみてください。</p>
      </div>
    </div>
  </div>
</div>