<h1 class="title text-center">Access</h1>
<div class="container">

  <div class="row">
    <div class="col-12"></div>

    <div class="row m-5">
      <div class="col-5">
        <h3>Jazzbar</h3>
        <a>
          【住所】<br/>
          〒000-0000<br/>
          福岡市中央区〇〇1-11-1<br/>
          近隣駅から 徒歩約5分<br/>
          ※駐車場はございません。<br/>
          【電話番号】<br/>
          000-000-0000<br/>
          電話は営業時間内にお願いいたします。<br/>
          ※くれぐれもおかけ間違いのないようご注意ください。<br/>
          【営業時間】<br/>
          平日 18:00~23:00<br/>
          土日祝日 17:00~23:00<br/>
          ※一部例外あり、スケジュールのご確認をお願いいたします。<br/>
        </a>
      </div>
      <div class="col-7">
        <%= image_tag 'watermark.jpg', width: '100%', height: '100%' %>
      </div>
    </div>

  </div>
</div>
