<h1 class="title text-center">About</h1>
<div class="container">

  <div class="row">
    <div class="col-12">
    </div>

    <div class="row m-5">
      <div class="col-5">
        <a>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
          <br/>
          テキストテキストテキストテキストテキストテキスト<br/>
        </a>
      </div>
      <div class="col-6">
        <%= image_tag 'noimage.jpg', width: '120%', height: '100%' %>
      </div>
    </div>

  </div>
</div>