<h3 class="text-center p-5">HOUSE RULE</h3>
<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <tr>
        <p>日付　　タイトル</p>
      </tr>
    </div>
    <div class="col-8 offset-2">
      <tr>
        <td>
          内容------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
        </td>
      </tr>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4">
      <tr>
        <p>日付　　タイトル</p>
      </tr>
    </div>
    <div class="col-8 offset-2">
      <tr>
        <td>
          内容------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
          ----------------------------------------------------------------------------------
        </td>
      </tr>
    </div>
  </div>
  