<h3 class="text-center p-5">SCHEDULES</h3>

<div class="container">
  <div class="row">
    <div class="col-12">
      <%= link_to "イベントを追加", new_admin_schedule_path %>
      <div class="bg-light">
        <%= month_calendar schedule: @schedules do |date| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>
  </div>
</div>
