/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "simple_calendar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-image: image-url('dark_wood.png');
}

.background-top {
  background-image: image-url('dark_wood.png');
}

// トップページスライドショー
.image1 {
  background-image: image-url('880774_s.jpg');
}
.image2 {
  background-image: image-url('1109414_s.jpg');
}
.image3 {
  background-image: image-url('22079864_s.jpg');
}
#container{
  height: 400px;
  position: relative; top:0px; left:15px;
  z-index:9999;
  // width: 60%;
  // margin-left: 30%;
  // // background-color: rgba(255, 255, 255, 0.5);
}


.container {
  background-image: image-url('xv.png');
  // background-color: #fffafa;
}

.title {
  color: #ffffff;
}

// .center {
//   background-image: image-url('dark_wood.png');
// }
